<!DOCTYPE html>
<html>
    <table align="center" border="1" bgcolor=dddddd>
        <tr>
            <td colspan="12" align="center" bgcolor="666666"><font color="#FFFFFF"><strong>Anexo14	</strong></font></td>
        </tr>
        <tr>
            <td colspan="12" align="center" bgcolor="666666"><font color="#FFFFFF"><strong>FORMATO DE REGISTRO PARA DESEMPEÑO ACADÉMICO	</strong></font></td>
        </tr>
        <tr>
            <td colspan="2">Semestre</td>
            <td colspan="9"align="center">1er Semestre D Ing. Informática Matutino</td>
        </tr>
        <tr bgcolor="aaaaaa">
            <td colspan="2">Nombre del estudiante</td>
            <td colspan="10"align="center">Abril Mejia Rangel</td>
        </tr>
        <tr>
            <td rowspan="2" colspan="2">Asignaturas</td>
            <td colspan="8"align="center">Temas</td>
            <td rowspan="2"align="center">Observaciones</td>
        </tr>
        <tr>
            <th>I</th>
            <th>II</th>
        
            <th>III</th>
        
            <th>IV</th>
        
            <th>V</th>
            <th>VI</th>
        
            <th>VII</th>
        
            <th>VIII</th>
        
        
          </tr>
        <tr>
            <td colspan="2">materia</td>
            <td align="center">50</td>
            <td align="center">50</td>
            <td align="center">50</td>
            <td align="center">50</td>
            <td align="center">50</td>
            <td align="center">50</td>
            <td align="center">50</td>
            <td align="center">50</td>
            <td align="center">Buen alumno</td>
        </tr>
        </table>
</html>




